

#instructions {

	visibility: hidden;
}

#userMessage {

	/*margin: auto;*/
	text-align: center;
	font-size: 2em;
	color: DeepSkyBlue;
}

.game-stats {

	font-size: 1.5em;
}

#lettersGuessedView, #currentWordView {

	border: solid 2px SkyBlue;
	font-weight: bolder;
	text-align: center;
	font-size: 1.5em;
}

#hangmanPicView {

	position: relative;
	margin: auto;
	/*margin-top: 5%;*/
	background: none;
	border: solid 3px black;
	width: 350px;
	height: 500px;
	background-color: white;
}

.hanger {
	
	width: 30%;
	height: 80%;
	margin: auto;
	margin-top: 2%;
	border: solid 10px black;
	position: absolute;
	bottom: 5%;
	right: 35%;

}

#postTopLine {

	position: absolute;
	bottom: 0px;
	left: -10px;
	margin: 0px;
	border: solid 10px white;
	height: 85%;
}

#postBottomLine {

	width: 100%;
	height: 30%;
	position: absolute;
	bottom: -10px;
	left: 100%;
	border-top: none;
	border-right: none;

}

.bodyBoxStyles {

	border-color: DeepSkyBlue;
	border-width: 5px;
	border-style: solid;
	background-color: DeepSkyBlue;
	position: absolute;
	visibility: hidden;
}

.bodyBox {

	
	background-color: white;
	position: absolute;
	left: -80%;
	bottom: 0px;
	margin: 0px;
	border: none;
	width: 150%;
	height: 90%;

}

#head {
	border-radius: 50%;
	border-width: 10px;
	width: 60%;
	height: 20%;
	top: 0px;
	/*left: 12%; changed due to bootstrap changes now making it look out of sync */
	left: 20%;
	background-color: white;

}

#body {
	height: 50%;
	/*top: 24%;*/
	top: 19%;
	left: 43%;

}

.legs {
	
	height: 20%;
	/*top: 74%;*/
	top: 67%;
}

#rightLeg {

	/* Rotate div */
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
    transform: rotate(150deg);
    left: 55%;

}

#leftLeg {

	/* Rotate div */
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    left: 30%;
}

.feet {
	width: 10%;
	/*top: 94%;*/
	top: 84%;

}

#rightFoot {
	/*left: 67%;*/
	left: 71%;
	
}

#leftFoot {
	/*left: 8.5%;*/
	left: 12%;
}

.arms {
	
	width: 20%;
	top: 40%;

}

#rightArm {
	
	/*left: 48%;*/
	left: 51%;

}

#leftArm {
	
	/*left: 18%;*/
	left: 23%;

}

.hands {
	
	/*width: 5%;*/
	width: 10%;
	top: 39%;

}

#rightHand {

	/* Rotate div */
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
    transform: rotate(150deg);
    left: 70%;

}

#leftHand {
	/* Rotate div */
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    /*left: 10%;*/
    left: 17%;
}

.eyes {

	width: 5%;
	height: 10%;
	border-radius: 50%;
	top: 20%;
}

#rightEye {
	left: 60%;
}

#leftEye {
	left: 25%;
}

#nose {
	left: 43%;
	top: 45%;
	height: 0%;
}

#mouth {
	
	width: 25%;
	height: 15%;
	border-radius: 50%;
	border-bottom: none;
	top: 70%;
	/*left: 33%;*/
	left: 40%;
	background-color: white;

}
